<section>
  <div class="content-list">
    <h1>Contents</h1>
    <ul>
      <li><strong>紹介編</strong>
	<ul>
	  <li><a href="/blog/introduction/">LibrePlanとは？</a></li>
	</ul>
      </li>
      <li><strong>導入編</strong>
	<ul>
	  <li><a href="/blog/install">インストール</a></li>
	  <li><a href="/blog/install-mac">OS Xにインストール</a></li>
	  <li><a href="/blog/install-win">Windowsにインストール</a></li>
	  <li><a href="/blog/japanize">日本語リソースについて</a></li>
	</ul>
      </li>
      <li><strong>開発編</strong>
	<ul>
	  <li><a href="/blog/develop-env">開発環境のセットアップ</a></li>
	</ul>
      </li>
      <li><strong>運用編</strong></li>
    </ul>
  </div>
</section>
