// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: #a0a0a0;
}
body {
  font-family: $sans;
  box-shadow: 5px 5px 5px #404040;  
  header[role="banner"] {
    background-image: $header-bg-image;
    h1 {
      font-size: 1.8em;
      text-shadow: 3px 3px 3px #000;
    }
    h2 {
      font-size: 0.8em;
    }
  }
  .content-list {
     font-size: 1.2em;
     li {
       padding: 0.5em 0 0 1em;
       border: 0;
     }
  }
  h1.entry-title {
    font-size: 2.0em;
    color: #f06060;
    text-shadow: 2px 2px 3px #c0c0c0;
  }
  .entry-content {
    h2 {
      color: #f06060;
      text-shadow: 2px 2px 3px #c0c0c0;
    }
    h3 {
      font-size: 1.1em;
      padding-top: 1em;
    }
    ul, ol {
      padding-left: 2em;
    }
    pre {
      font-size: 0.95em;
    }
  }
}
